@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
 min-height: 100vh;
  background: linear-gradient(180deg, #e0f7fa 0%, #ffffff 100%);
}
.header{
 background-image:url(../Assets/Hero-bg.png);
    text-align: center;
    align-items: center;
    height:700px;
    width:1400;
    background-repeat: no-repeat;
    background-size:cover;
    margin: 0 auto;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 800px;
}
.logo{
    color:#4E47FF;
    font-weight: 900;
    font-family:"inter", sans-serif;
    font-size: 34px;
}
.navbutton button{
    background-color: #4E47FF;
    font-weight: 600;
    font-family: "Railway", sans-serif;
    font-size: 20px;
    margin-top: 20px;
    text-decoration: none;
    color:white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}
.navbutton button:hover{
    background-color: #fdf916;
}
/* hero */
.hero{
 margin-top: 160px;
}
.herocap {
    font-size: 48px;
    font-weight: 700;
    color: #252432;
    font-family: "Railway", sans-serif;
}
.hero button{
    background-color: #4E47FF;
    font-weight: 600;
    font-family: "Railway", sans-serif;
    font-size: 20px;
    margin-top: 20px;
    text-decoration: none;
    text-align: center;
    color:white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}
.hero button:hover{
    background-color: #fdf916;
}
/* sec 2 */
.sec2{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 70px;
    gap: 220px;
}
.sec2text h2{
     font-size: 42px;
    font-weight: 700;
    color: #252432;
    font-family: "Railway", sans-serif;
}
.sec2text p{
    font-size: 24px;
    color: #7d7c92;
    font-family: "Railway", sans-serif;
    font-weight: 400;
}
.sec2text button{
    background-color: #4E47FF;
    font-weight: 600;
    font-family: "Railway", sans-serif;
    font-size: 16px;
    margin-top: 20px;
    text-decoration: none;
    text-align: center;
    color:white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}
.sec2text button:hover{
    background-color: #fdf916;
}
.sec2img img{
    height: 330px;
    width: 400px;
    border: none;
    border-radius: 40px;
}
/* sec3 */
.sec3all{
align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-around;
     margin:15px auto;
}
.sec3{
    background: linear-gradient(to bottom, rgba(78, 71, 255, 0.05), rgba(111, 106, 247, 0.2));
    height: 300px;
    width: 1310px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center; 
    border: none;
    border-radius: 40px;
}
.sec3content{
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.sec3h p{
 font-size: 38px;
    color: #252432;
    font-family: "Railway", sans-serif;
    font-weight: bold;
    text-align: center;
}
.sec31{
    margin-right: 180px;
}
.sec31 .h3{
    color:#4E47FF;
    font-size: 80px;
    font-family: "Railway", sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
}
.sec31 p{
    color:#7d7c92;
    font-size: 20px;
    font-family: "Railway", sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 0px;
}
.sec3p{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 145px;
}
/* sec4 */
.sec4content{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    border:1px solid rgb(235, 230, 230);
    border-radius: 10px;
      /* gap:20px; */
    padding: 30px;
 
}
.sec4h p{
     font-size: 42px;
    color: #252432;
    font-family: "Railway", sans-serif;
    font-weight: bold;
    text-align: center;
}
.review{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}
.sec4star{
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
    margin-left: 0px;
}
.sec4h{
    font-size:20px;
    color: #252432;
    font-family: "Railway", sans-serif;
    font-weight: bold;
    margin-bottom: 0px;
}
.sec4p{
    font-size:18px;
    color: #252432;
    font-family: "Railway", sans-serif;
    margin-top: 0px;
}
.reviewer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:20px; 
}
.reviewer img{
    border: none;
    border-radius: 50%;
}
.name{
    color: #757575;
    font-size:18px;
    font-family: "Railway", sans-serif;
    margin-bottom: 0px;
}
.date{
    color: #B3B3B3;
    font-size:18px;
    font-family: "Railway", sans-serif;
    margin-top: 0px;
}
/* sec5 */
.sec5{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 90px;
}
.sec5content{
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sec5h{
    color: #000000;
    font-size: 50px;
    font-family: "Railway", sans-serif;
    font-weight:bold;
    margin-bottom: 10px;
}
.sec5p{
     color: #756b6b;
    font-size: 14px;
    font-family: "Railway", sans-serif;
   margin-top: 0px;
}
.sec5content button{
     background-color: #4E47FF;
    font-weight: 600;
    font-family: "Railway", sans-serif;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-decoration: none;
    text-align: center;
    color:white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}
.sec5content button:hover{
    background-color: #fdf916;
}
.sec5 img{
    height: 360px;
    width: 840px;
    border: none;
    border-radius: 50px;
}
/* sec6 */
.sec6{
display: flex;
align-items: center;
justify-content: space-around;
gap:70px;
margin: 160px;
}
.sec6content p{
    color: #020101;
    font-size: 97px;
    font-family: "Railway", sans-serif;
    font-weight:bold;
   
}
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* width: 100%; */
    max-width: 500px;
    height: 490px;
  }
 label{
     font-family: "inter", sans-serif;
 }
  input[type="text"],
  textarea {
    padding: 15px 20px;
    font-size: 16px;
    font-family: "inter", sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 460px;
    resize: none;
  }

  input[type="text"] {
    height: 60px;
  }

  textarea {
    height: 188px;
    color:#7d7c92;
  }

  #button{
    font-family:"inter",sans-serif;
    font-size: 16px;
    color: white;
    font-weight: bold;
    padding: 10px 50px;
    background: #4E47FF;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
  }
  #button:hover{
    background-color: #fdf916;
  }
  .footer{
    height: 430px;
    width: 100%;
  }
  .footcontent{
    align-items: center;
    text-align: center;
    margin: 104px 455px;
  }
  .footcontent h1{
    font-family: "inter",sans-serif;
    font-weight: 900;
    font-size: 100px;
    color: #4E47FF;
    margin-bottom: 0px;
  }
  .footcontent p{
     font-family: "inter",sans-serif;
    font-size: 16px;
    color: #75747c;
    margin-top: 0px;
  }
  .footmenu a{
    text-decoration: none;
    color: #75747c;
    margin-right: 20px;
  }
   